<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab 8</title>
</head>

<body>
  <h1>FIT2095 Car Show Management System</h1>

  <div class="form-group w8form">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="maker">Maker</label>
        <input type="text" class="form-control" id="maker" [(ngModel)]="maker" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" [(ngModel)]="model" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="bodytype">Body Type</label>
        <select id="bodytype" class="form-control" [(ngModel)]="bodyType">
          <option name="bus">Bus</option>
          <option name="coupe">Coupe</option>
          <option name="hatch">Hatch</option>
          <option name="sedan">Sedan</option>
          <option name="suv">SUV</option>
          <option name="van">Van</option>
          <option name="ute">Ute</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="year">Year</label>
        <input type="text" class="form-control" id="year" [(ngModel)]="year" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" [(ngModel)]="address" />
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="state">State</label>
        <select id="state" class="form-control" [(ngModel)]="state">
          <option name="act">ACT</option>
          <option name="nsw">NSW</option>
          <option name="nt">NT</option>
          <option name="qld">QLD</option>
          <option name="sa">SA</option>
          <option name="tas">TAS</option>
          <option name="vic">VIC</option>
          <option name="wa">WA</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="postcode">Post Code</label>
        <input type="text" class="form-control" id="postcode" [(ngModel)]="postcode" /><br>
      </div>
    </div>

    <div class="form-row">
      <button class="btn btn-primary" (click)="addCar()">ADD CAR <span
          class="badge badge-success">{{db.length}}</span></button>
      <div [ngSwitch]="getOldCars()">
        <button *ngSwitchCase="0" class="btn btn-warning" (click)="deleteOldCars()" disabled>DELETE OLD CARS
          <span class="badge badge-danger">{{getOldCars()}}</span></button>
        <button *ngSwitchDefault class="btn btn-warning" (click)="deleteOldCars()">DELETE OLD CARS
          <span class="badge badge-danger">{{getOldCars()}}</span></button>
      </div>
    </div>
  </div>

  <table class="table table-hover ">
    <tr>
      <th> # </th>
      <th> Maker </th>
      <th> Model </th>
      <th> Year </th>
      <th> Body Type </th>
      <th> Address </th>
      <th> Delete? </th>
    </tr>
    <tr *ngFor="let item of db; let i = index">
      <td>{{i+1}}</td>
      <td>{{item.maker}}</td>
      <td>{{item.model}}</td>
      <td>{{item.year}}</td>
      <td>{{item.bodyType}}</td>
      <td>{{item.address}},{{item.state}},{{item.postcode}}</td>
      <td> <button class="btn btn-danger" (click)="deleteCar(item.id)">X</button></td>
    </tr>
  </table>

</body>

</html>